<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="PitstopAuctionsLogo.png" alt="Pitstop Auctions Logo" style="width: 200px; height: 50px; top: -12px; left: -2px;">
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-globe" aria-hidden="true"></span> Leilões
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="marcas">
                <span class="oi oi-badge" aria-hidden="true"></span> Marcas
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}